@{
    Layout = null;
}

@using Coolant.BLL.ViewModels;

@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority + Request.ApplicationPath.TrimEnd('/') + "/";
    string ImagenUrl = baseUrl + "Resources/Images/default_profile.png";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="TurboTecnología de Reparaciones S.A. de C.V - Software Development Department" />
    <meta name="department" content=".net CoE - Software Development Department" />
    <meta name="description" content="" />

    <!--<script src="~/Scripts/vue.js"></script>                        Se Duplica -->
    <!--<script src="~/Resources/Libraries/materialize/js/materialize.min.js"></script>             Se Duplica -->
    <!--<script src="~/Resources/Libraries/scripts/Menu.js"></script>   Se Duplica -->
    <!--<link href="~/Resources/Libraries/material-icons/material-icons.css" rel="stylesheet" />    Se Duplica -->
    <!--<script src="~/Resources/Libraries/scripts/vue-multiselect/vue-multiselect.min.js"></script>Se Duplica -->
    <!--<script src="~/Resources/Libraries/scripts/v-calendar/v-calendar.min.js"></script>          Se Duplica -->
    <link href="~/Resources/Styles/_layout.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/Resources/Images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/Resources/Images/favicon.ico" type="image/x-icon">
    <link href="~/Resources/Libraries/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/materialize/css/materialize.override.css" rel="stylesheet" />
    <link href="~/Resources/Styles/Layout.css" rel="stylesheet" />
    <script src="~/Resources/Libraries/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/Resources/Libraries/jscookie/js.cookie.min.js"></script>
    <link href="~/Content/navbar_temp.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Resources/Libraries/toastr/toastr.min.js"></script>
    <!-- Seccion Nueva para lo de Vue -->
    <link href="~/Resources/Libraries/materialize/font/roboto/roboto.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/materialize/css/materialize.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/scripts/vue-multiselect/vue-multiselect.min.css" rel="stylesheet" />
    <link href="~/Resources/Styles/vuemiltiselect.fix.css" rel="stylesheet" />
    <link href="~/Resources/Libraries/scripts/v-calendar/v-calendar.min.css" rel="stylesheet" />
    <!-- This is temporal until the required bundles are gathered and ordered -->
    <script src="~/Scripts/polyfills/babelPolyfill.min.js"></script>
    <link href="~/Resources/Styles/CustomStyles.css" rel="stylesheet" />
    <!-- DEV Express START -->
    <!--<link href="~/Content/dx.common.css" rel="stylesheet" type="text/css" />    Se Duplica -->
    <!--<link href="~/Content/dx.light.css" rel="stylesheet" />                     Se Duplica -->
    <!--<script src="~/Scripts/jszip.min.js"></script>                              Se Duplica -->
    <!-- DEV Express END -->
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/vue")
    @Scripts.Render("~/bundles/LinqJS")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/master")
    @Scripts.Render("~/bundles/toastr")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    @*
        @Scripts.Render("~/bundles/home")
        @Scripts.Render("~/bundles/wip")
    *@

    <title>@ViewBag.Title</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <a class="navbar-brand" href="/">Coolant App</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="active nav-item"><a href="#" class="nav-link">Home</a></li>
                <li onclick="location.href = '@Url.Action("LeanWorkCenterPage", "LeanWorkCenter")'">Lean Work Center</li>
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="hide-on-mobile hide-on-print">
        <table id="footerTable">
            <tbody>
                <tr>
                    <td class="solarLogo" style="border:none">
                        <img src="~/Resources/Images/Solar_logo.png" />
                    </td>
                    <td class="style152" style="border:none">
                        Copyright 2018 Solar Turbines Incorporated. All rights reserved. <a target="_blank" href="http://www.caterpillar.com/dataprivacy">Data Privacy Statement</a>
                    </td>
                    <td class="style152 updateDate" style="border:none">
                        @*<span>Last Update: 30/8/2018</span>*@
                    </td>
                    <td class="style151" style="border:none">
                        <span>Caterpillar: Confidential <span id="confidentialGreen">Green</span></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </footer>

</body>
</html>

